a[data-toggle="popover"] {
    font-weight: normal !important;
}
.popover-content{
    font-weight: normal !important;
}
div.error {
    background-repeat: no-repeat;
    background-position-x: right;
}
.popover {
    width: 300px;
}

.form-type-checkbox label.control-label{
    display: block !important;
    float: none !important;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
}

.icon-info:before {
    content: "\f315";
}

[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
    margin-left: .3em;
}

.pull-right {
    float: right;
}

.padding-left {
  padding-left: 30px;
}

.markup-info {
  font-size: 14px;
}
/* #edit-regulatory-information-out-province-institution-provincial-approval--wrapper input[type="radios"] {
    display: none;
}

#regulatory_information_international input[type="radios"]{
    display: none;
}

#regulatory_information_international_medical input[type="radios"] {
    display: none;
} */
